
body{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    font-style: arial;
    color: beige;
    background-color: #0a0a0a;
}
.faixa{
    position: relative;
    background-color: #020202;
}
.letras{
    position: relative;
    text-align: center;
    font-style: oblique;
}
.container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
*{box-sizing: border-box;}

.slide{
    display: none;
}
.imgslide{
width: 30vw;
margin: auto;
display: block;


}
.botaoA, .botaoP{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease;
    user-select: none;
}
.botaoA{
    left: 0;
    border-radius: 0 5px 5px 0;
}
.botaoP{
    right: 0;
    border-radius: 0 5px 5px 0;
}
.botaoA:hover, .botaoP:hover, .textoslide{
    background-color:rgb(211, 97, 97);
} 
.textoslide{
color:#fff;
font-size: 15px;
padding: 8px 12px;
position: absolute;
width: 100%;
text-align: center;
transition: 0.4 ease;
bottom: 0px;
}
.numeroslide{
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
}
.indicador{
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color:#bbb;
  border-radius: 50%; display: inline-block;
  transition: background-color 0.5s ease; 
}

.ativo, .indicador:hover{
background-color: #202020;
}
.fade{
  animation-name: fade;
  animation-duration: 1.3s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.3s;
}
@-webkit-keyframes fade{
 from{opacity: .4;}
 to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
   }

.login{
  position: absolute;   
  right: 390px;
  top: 100px;
  font-size: 30px;
}
.footer {
  background-image: linear-gradient(rgb(53, 53, 54), rgb(40, 40, 41));
  display: flex;
  justify-content: space-around;

}
.bru{
  max-width: 4vw;
  
}
.copy{
  display: flex;
  justify-content: space-between;
}